/* reset */
*, html, body {padding: 0; margin: 0; outline: none;}
*, *:after, *:before {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
html, body{ height: 100%;}
body {
    height: 100%; 
    text-align: left; 
    background: #fff;
    overflow-x: hidden;
}

a{text-decoration:none; color: #656565;}

img, a img, fieldset {border:0;}

address, em {font-style:normal;}
ul{ margin-bottom: 0;}
li {list-style-type:none;}
.cem{ width: 100%;}
/* css micro clearfix */
.cf:before, .cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both; 
}

/* for ie 6/7 (trigger haslayout) */
.cf {
  zoom: 1;
}
.nopadd{padding: 0;}
 
/* Fontes */

@font-face {
    font-family: 'king basil';
    src: url('../fonts/king-basil-lite-webfont.woff2') format('woff2'),
         url('../fonts/king-basil-lite-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham ultra';
    src: url('../fonts/gotham-ultra-webfont.woff2') format('woff2'),
         url('../fonts/gotham-ultra-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham medium';
    src: url('../fonts/gotham-medium-webfont.woff2') format('woff2'),
         url('../fonts/gotham-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham light';
    src: url('../fonts/gotham-light-webfont.woff2') format('woff2'),
         url('../fonts/gotham-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


h1,
h2,
h3,
h4,
h5,
h6,
h7 { margin: 0; padding: 0;} 
p {} 
a {} 
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span,
h7 span {}
/* CSS GERAL */
.container{position: relative; }

.fleft{ float: left; }
.fright{ float: right; }

.red{color: #630f18;}

.header{ 
    background-color: #630f18; 
    height: 90px;
    width: 100%;
    position: relative;
    z-index: 15;
}
.menu-item{ width: 17.5%; position: relative; display: block;}
.menu-item:nth-child(3){ width: 30%; height: 90px; }
.menu-link,
.menu-link:visited{ 
    display: block; 
    height: 90px; 
    line-height: 90px; 
    text-align: center; 
    color: white;
    font-size: 14px;
    font-family: 'gotham medium',sans-serif;
    text-transform: uppercase;
}
.menu-link:hover,
.menu-link:focus{
    text-decoration: none;
    color: rgb(237, 192, 21);
}
.logo{ display: block; position: absolute; left: 50%; top: 30px; margin-left: -85.5px; z-index: 2; }

.painel{
    background: #ffdb23; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(#ffdf5d, #ffdb23); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#ffdf5d, #ffdb23); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#ffdf5d, #ffdb23); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#ffdf5d, #ffdb23); /* Standard syntax */
    width: 100%;
    padding: 100px 0;
    min-height: 100vh;
    position: relative;
    z-index: 2;
} 
.potatos{
    position: absolute;
    background: url('../img/sprite-batatas.png') no-repeat;
    transition: all ease 2s;
    -webkit-transition: all ease 2s;
    -moz-transition: all ease 2s;
}
#element1{
    width: 315px;
    height: 273px;
    position: absolute;
    top: -54px;
    left: -215px;
}
#element2{
    width: 160px;
    height: 135px;
    position: absolute;
    top: 314px;
    left: -127px;
    background-position: -101px -343px;
}
#element3{
    width: 79px;
    height: 200px;
    position: absolute;
    top: 490px;
    left: -172px;
    background-position: -49px -513px;
}
#element4{
    width: 162px;
    height: 474px;
    position: absolute;
    top: 790px;
    left: -147px;
    background-position: -79px -763px;
}
#element5{
    width: 702px;
    height: 284px;
    position: absolute;
    top: -54px;
    right: -107px;
    background-position: -401px -20px;
}
#element6{
    width: 234px;
    height: 250px;
    position: absolute;
    top: 639px;
    right: -80px;
    background-position: -809px -393px;
}
#element7{
    width: 190px;
    height: 250px;
    position: absolute;
    bottom: 320px;
    right: 300px;
    background-position: -465px -487px;
}
#element8{
    width: 100px;
    height: 230px;
    position: absolute;
    bottom: -47px;
    right: 70px;
    background-position: -802px -756px;
}

.camadas{ 
    margin-bottom: 20px; 
    position: relative;
    top: auto;
    -webkit-transition: all .9s linear;
    -moz-transition: all .9s linear;
    transition: all .9s linear;
}
#col-infos{ margin-top: 300px;}

#layer1.in-view{ transform: translateY(220px); z-index:7;}
#layer2.in-view{ transform: translateY(110px); z-index:6;}
#layer3.in-view{ transform: translateY(36px); z-index:5;}
#layer4.in-view{ transform: translateY(-40px); z-index:4;}
#layer5.in-view{ transform: translateY(-164px); z-index:3;}
#layer6.in-view{ transform: translateY(-300px); z-index:2;}
#layer7.in-view{ transform: translateY(-430px); z-index:1;}

.sec-tit{
    font-size: 113px;
    font-family: 'gotham ultra',sans-serif;
    color: #fd560c;
    line-height: 60px;
    text-transform: uppercase;
    margin: 0;
}
.sec-tit .red{ font-size: 70px; }
.txt{ 
    margin: 50px 55px 35px 0;
    font-size: 19px;
    font-family: 'gotham medium',sans-serif;
    color: #630f18;
    line-height: normal;
}
.btn{
    background: #fd560c;
    border-radius: 35px;
    color: white;
    font-size: 19px;
    font-family: 'gotham medium',sans-serif;
    width: 285px;
    height: 65px;
    line-height: 65px;
    padding: 0;
    text-transform: uppercase;
}
.sec-navigation{
    background: #630f18;
    width: 225px;
    height: 55px;
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    border-radius: 20px;
    padding: 0 11px;
    position: fixed;
    right: 40px;
    top: 45%;
    z-index: 99;
}
.sec-item{
    width: 26px;
    height: 26px;
    border-radius: 100%;
    text-indent: -9999px;
    margin: 15px 7px;
}
.sec-item.active{ background: #fd560c; }
.sec-item.active .sec-link{ box-shadow: inset 0px 0px 0 8px #ffdd38; }
.sec-link{
    display: block;
    height: 100%;
    width: 100%;
    box-shadow: inset 0px 0px 0 13px #ffdd38;
    border-radius: 100%;
}

.sobre{
	width: 100%;
	background: url('../img/bg2.jpg') no-repeat 0 0;
	background-size: cover;
    position: relative;
    z-index: 1;
}
.img-sobre{ margin: 55px 0 45px 0; }
.txt-sobre{ margin-top: 100px; }
.sobre-tit{ line-height: normal; margin-bottom: 60px;}
.sobre-tit .white{
    font-size: 55px;
    font-family: 'king basil',cursive;
    color: white;
}
.sobre-tit .red{
    font-size: 60px;
    font-family: 'gotham ultra',sans-serif;
}
.sub-tit{
    font: bold 23px 'gotham medium',sans-serif;
    margin-bottom: 40px;
}
.txt-sobre .txt{ 
    font: 19px 'gotham light',sans-serif;
}
.sub-tit, .txt-sobre .txt{ color: white; line-height: normal;}

.produtos{
	width: 100%;
	background: url('../img/bg3.jpg') no-repeat 0 0;
	background-size: cover;
}
.prod-tit{ line-height: normal; margin: 90px 0 40px 0;}
.prod-tit .white{
    font: 92px 'king basil',cursive;
    color: white;
}
.prod-tit .red{
    font: 70px 'gotham ultra',sans-serif;
}
.prod-name{
    color: #ffcc00;
    font: 70px 'gotham ultra',sans-serif;
    text-transform: uppercase;
    margin-bottom: 55px;
}
.prod-price{
    color: #3d0d05;
    font: 95px 'gotham ultra',sans-serif;
    text-transform: uppercase;
    line-height: normal;
}
.prod-price .white{
    color: white;
    font: 29px 'gotham ultra',sans-serif;
    text-transform: uppercase;
    display: block;
    line-height: 22px;
}

#prod-list{ position: relative; padding: 0 50px;}
#prod-list .owl-prev, 
#prod-list .owl-next {
    position: absolute;
    top: 50%;
    margin-top: -37px!important;
    width: 59px;
    height: 74px;
    text-indent: -9999px;
    margin: 0;
    padding: 0;
    border-radius: 0;
}
#prod-list .owl-prev:hover, 
#prod-list .owl-next:hover{ opacity: .7;}
#prod-list .owl-prev {
    left: 0;
    background: url('../img/sprite.png') no-repeat -10px 0px;
}
#prod-list .owl-next {
    right: 0;
    background: url('../img/sprite.png') no-repeat -82px 0px;
}

#prateleira{ position: relative; padding: 0 20px;}
#prateleira .owl-prev, 
#prateleira .owl-next {
    position: absolute;
    top: 50%;
    margin-top: -37px!important;
    width: 59px;
    height: 74px;
    text-indent: -9999px;
    margin: 0;
    padding: 0;
    border-radius: 0;
}
#prateleira .owl-prev:hover, 
#prateleira .owl-next:hover{ opacity: .7;}
#prateleira .owl-prev {
    left: -11px;
    background: url('../img/sprite.png') no-repeat -8px -84px;
}
#prateleira .owl-next {
    right: -11px;
    background: url('../img/sprite.png') no-repeat -86px -84px;
}

.prat-item{ 
    background: url('../img/bg-prod.png') no-repeat center;
    height: 375px;
    width: 250px;
    margin: 0 auto;
    padding: 0 30px;
}
#prateleira .prod-img{ width: auto; padding-top: 65px; }
.prod-title{
    color: #4f2222;
    font: 14px 'gotham medium',sans-serif;
    text-transform: uppercase;
    margin: 20px 0;
    text-transform: uppercase;
    text-align: center;
}
.prod-smallprice{
    color: #55a24d;
    font:bold 53px 'Amatic SC', cursive;
    text-align: center;
    display: block;
}
.prod-smallprice .tipo{
    color: #55a24d;
    font:bold 33px 'Amatic SC', cursive;
}

.adicional{ background: white; padding: 80px 0; position: relative; overflow: hidden;}
.adicional::before{ 
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
    content: '';
    width: 100%;
    height: 270px;
    border-bottom: 270px solid #f3471d;
    border-left: 100vw solid transparent;
}
.col-left{margin-top: 60px; padding: 0;}
.adicional-tit .yellow{
    font-size: 55px;
    font-family: 'king basil',cursive;
    color: #f7c320;
}
.adicional-tit .red{
    color: #3d0b04;
    font-size: 60px;
    font-family: 'gotham ultra',sans-serif;
    text-transform: uppercase;
}
.ad-list{ margin: 55px 0 250px; position: relative; z-index: 3;}
.ad-option{ margin-bottom: 5px; position: relative; }
.ad-option::before{
    position: absolute;
    left: 0;
    top: 50%;
    content: '';
    width: 100%;
    height: 2px;
    border-top: 2px dashed #3d0d05;
}
.ad-title{
    color: #3d0d05;
    font: 20px 'gotham medium',sans-serif;
    text-transform: uppercase;
    background: white;
    position: relative;
    padding: 5px;
}
.ad-price{
    position: relative;
    background: #df1527;
    border-radius: 5px;
    color: white;
    font: 20px 'gotham medium',sans-serif;
    width: 105px;
    height: 35px;
    line-height: 35px;
    text-transform: uppercase;
    text-align: center;
}
#bandeja{
    position: absolute;
    right: -235px;
    bottom: -80px;
    z-index: 1;
    background: url('../img/bandeja.png') center bottom no-repeat;
    width: 1007px;
    height: 698px;
}
#element-bandeja{
    position: absolute;
    left: 170px;
    bottom: 120px;
    z-index: 1;
    background: url(../img/sprite-bandeja.png) center no-repeat;
    width: 495px;
    height: 483px;
}



.lanches{ background: #e5e6da; padding: 80px 0;}
.lanches-tit .yellow{
    font: 55px 'gotham medium',sans-serif;
    color: #f7c320;
}
.lanches-tit .red{
    color: #3d0b04;
    font: 60px 'gotham ultra',sans-serif;
    text-transform: uppercase;
}
.lanches-list{ margin: 80px 0;}
.lanches-item{ float: left; margin-bottom: 17px;}
.lanches-number{
    background: #ff540a;
    border-radius: 7px;
    color: white;
    font: bold 17px 'gotham medium',sans-serif;
    width: 70px;
    height: 30px;
    float: left;
    line-height: 30px;
    text-align: center;
    margin-right: 15px;
}
.lanches-name{
    color: #3d0d05;
    font: 17px 'gotham ultra',sans-serif;
    text-transform: uppercase;
    line-height: normal;
}
.ingredientes{
    position: absolute;
    background: url('../img/sprite-secoes.png') -56px -45px no-repeat;
    transition: all ease 2s;
    -webkit-transition: all ease 2s;
    -moz-transition: all ease 2s;
}
#itens1{
    width: 123px;
    height: 130px;
    position: absolute;
    left: 515px;
    top: -25px;
}
#itens2{
    width: 115px;
    height: 120px;
    position: absolute;
    top: -55px;
    right: 0;
    background-position: -335px -66px;
}
#itens3{
    width: 222px;
    height: 116px;
    position: absolute;
    left: -84px;
    bottom: -80px;
    background-position: -8px -271px;
}
#itens4{
    width: 178px;
    height: 132px;
    position: absolute;
    left: 540px;
    bottom: -75px;
    background-position: -294px -271px;
}




.petiscos{ background: #2f4648; padding: 80px 0; z-index: 2; position: relative; }
.figures{
    position: absolute;
    background: url('../img/sprite-secoes.png') -15px -510px no-repeat;
    transition: all ease 2s;
    -webkit-transition: all ease 2s;
    -moz-transition: all ease 2s;
}
#figure1{
    width: 200px;
    height: 215px;
    position: absolute;
    left: 575px;
    top: 5px;
}
#figure2{
    width: 140px;
    height: 180px;
    position: absolute;
    top: 12px;
    right: 135px;
    background-position: -310px -510px;
}

.petiscos-tit{ margin-bottom: 50px;}
.petiscos-tit .white{
    font: 55px 'gotham medium',sans-serif;
    color: white;
}
.petiscos-tit .yellow{
    color: #f7c320;
    font: 60px 'gotham ultra',sans-serif;
    text-transform: uppercase;
}
.petiscos-list{
    border: 2px solid white;
    padding: 40px 25px;
}
.petiscos-item{ margin-top: 10px;}
.petisco-title{
    color: #f7c320;
    font: bold 26px 'gotham medium',sans-serif;
    float: left;
    margin-bottom: 20px;
}
.petisco-tipo{
    color: white;
    font: bold 22px 'gotham medium',sans-serif;
    float: left;
    margin-bottom: 10px;
    width: 100%;
}
.petisco-tipo small{ font-size: 13px; float: left; width: 100%}


.bebidas{ background: #edc015; padding: 80px 0;}
.bebidas-tit{ margin-bottom: 50px;}
.bebidas-tit .white{
    font: 35px 'gotham medium',sans-serif;
    color: white;
    text-transform: uppercase;
}
.bebidas-tit .red{
    color: #3d0b04;
    font: 65px 'gotham ultra',sans-serif;
    text-transform: uppercase;
}
#sucos{ position: relative;}
#sucos::before {
    content: "";
    position: absolute;
    top: 98px;
    right: -22px;
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 17px solid #3d0b04;
}
#sucos::after {
    content: "";
    position: absolute;
    top: 218px;
    right: -22px;
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 17px solid #3d0b04;
}
.list-title{
    color: #3d0b04;
    font: 30px 'gotham ultra',sans-serif;
    margin-bottom: 15px;
    display: block;
}
.bebidas-list{
    border: 2px solid #3d0b04;
    margin-bottom: 35px;
    padding: 25px 20px;
}
.bebidas-item{
    color: white;
    font: bold 22px 'gotham medium',sans-serif;
    margin-bottom: 8px;
}
.bebidas-item:last-child{ margin-bottom: 0;}

.infos-qtd{ margin: 50px 0 30px; float: left;}
.blc-qtd{ 
    border-bottom: 1px solid #3d0b04;
    width: 100%;
    padding: 9px 20px; 
    float: left;
}
.blc-qtd:last-child{ border-bottom: 0;}
.qtd-ml{ 
    float: left; 
    width: 100%;
    margin-bottom: 20px;
    color: white;
    font: bold 26px 'gotham medium',sans-serif;
    text-transform: uppercase;
}
.qtd-preco{
    float: left; 
    width: 50%;
}
.qtd-preco strong{
    float: left; 
    width: 100%;
    color: #3d0b04;
    font: bold 30px 'gotham ultra',sans-serif;
    line-height: 27px;
}
.qtd-preco span{
    float: left; 
    width: 100%;
    color: white;
    font: bold 22px 'gotham medium',sans-serif;
    text-transform: uppercase;
    margin-top: 5px;
}
.qtd-preco .info-sabor{
    color: white;
    font: bold 11px 'gotham medium',sans-serif;
    text-transform: uppercase;
}
.bebidas-mrtop{ margin-top: 90px;}


.sobremesas{ background: #be2aee; padding: 80px 0;}
.sobremesas .container{ position: relative;}
.sobremesas-tit .white{
    font: 32px 'gotham medium',sans-serif;
    color: white;
    text-transform: uppercase;
}
.sobremesas-tit .yellow{
    color: #f7c320;
    font: 70px 'gotham ultra',sans-serif;
    text-transform: uppercase;
}
.sobremesas .list-title{
    color: #f7c320;
}
.sobremesas-list{
    border: 2px solid white;
    margin-bottom: 35px;
    padding: 25px 35px;
}
.sobremesas-list{
    border: 2px solid white;
    margin-bottom: 35px;
    padding: 25px 35px;
} 
.sobremesas-list.menospadd{ padding: 25px 20px; }
.sobremesa-item{
    color: white;
    font: bold 18px 'gotham medium',sans-serif;
}
.menospadd .sobremesa-item{ font-size: 16px; }
.sobremesa-tit{ 
    color: #f7c320;
    font: bold 18px 'gotham medium',sans-serif;
}
.sobremesa-tit.mr-top{ margin-top: 30px; }

.sobremesas-item{
    position: absolute;
    background: url('../img/sprite-secoes.png') -27px -759px no-repeat;
    transition: all ease 2s;
    -webkit-transition: all ease 2s;
    -moz-transition: all ease 2s;
}
#banana1{
    width: 132px;
    height: 130px;
    position: absolute;
    right: 220px;
    top: -25px;
}
#banana2{
    width: 115px;
    height: 70px;
    position: absolute;
    top: -80px;
    right: 0;
    background-position: -309px -961px;
}
#banana3{
    width: 90px;
    height: 89px;
    position: absolute;
    right: 190px;
    bottom: 70px;
    background-position: -45px -930px;
}
#morango1{
    width: 132px;
    height: 187px;
    position: absolute;
    right: -10px;
    bottom: 0;
    background-position: -313px -754px;
}



/*estilo do footer*/

.footer {
	background: #fac200;
    position: relative;
}

.footer-inf {
	float: left;
    background: #fac200;
    position: relative;
    z-index: 5;
    padding-bottom: 90px;
}

.footer-tit {
	margin: 15px 0;
	padding: 10px 0;
}

.footer-tit_text1 {
	margin: 0;
	padding: 0;
	font-family: 'gotham light';
	font-weight: bold;
	font-size: 46px;
	color: #ffffff;
}

.footer-tit_text2 {
	margin: 0;
	padding: 0;
	font-family: 'gotham ultra';
	font-size: 56px;
	color: #3d0b04;
}

.footer-end {
	display: block;
	margin: 10px 0;
	padding: 10px 0;
}

.footer-end_text {
	margin: 0;
	padding: 0;
    color: #3d0b04;
	font: 23px 'gotham ultra',sans-serif;
}

.footer-day {
	display: inline-block;
	background: #3f1a08;
	margin: 30px 0;
	padding: 15px;
}

.footer-day_text {
	color: #fac200;
	font-family: 'gotham medium';
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-weight: 900;
}

.footer-inf_media {}

.footer-media_item {
    padding: 0 0 0 50px;
    margin-bottom: 25px;
    color: #3d0b04;
    position: relative;
}
.footer-media_item::before{
    content: '';
    background: url(../img/rdp-icons.png) no-repeat;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
}
.footer-media_item:nth-child(2)::before{ background-position: 0 -68px;}
.footer-media_item:nth-child(3)::before{ background-position: 0 -132px;}
.footer-media_item:nth-child(4)::before{ background-position: 0 -201px;}
.footer-media_item:nth-child(5)::before{ background-position: 0 -268px;}

.footer-media_text {
	margin: 0;
	padding: 0;
	font: bold 18px 'gotham medium',sans-serif;
}


#map{ 
    position: absolute;
    right: 0;
    bottom: 0;
    width: 60%;
    height: 100%;
}

.header-mobile,
.bloco-menu_mobile{ display: none; }

/*	Inicio da versão mobile */

@media only screen and (max-width : 768px) {
	

	.img-logo {
		max-width: 90px;
	}
	
	.header{
		display: none;
	}
	
	.header-mobile {
		background: #630f18;
		padding: 15px 0;
	}
	
/*	menu-mobile */
	
   .header-mobile,
   .bloco-menu_mobile{ display: block; }
	
	.navegacao-mobile{
		background: #630f18;
		width: 80%;
		height: 100%;
	}
	
	.menu-anchor{
		margin: 10px 0;
		padding: 0 5px;
		float: left;
		position: absolute;
	}
	
	.menu-anchor_bullet{
		width: 38px;
    height: 4px;
    background: #fff;
    margin: 5px 0 0 5px;
	}
	
	.menu-anchor_bullet .middle {
		    margin: 6px 0 6px 5px;
	}
	
	.bloco-menu_mobile {
		width: 100%;
		height: 100%;
		position: fixed;
		left: 0;
		top: 0;
		background: rgba(0,0,0,0.5);
		z-index: 50;
		-webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-transition: all .25s linear;
        -moz-transition: all .25s linear;
        -ms-transition: all .25s linear;
        transition: all .25s linear;
	}
	
	.bloco-menu_mobile.menu-active {
		-webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
	}
	
	.bloco-menu_mobile .menu-anchor {
		position: absolute;
        top: -11px;
        right: 0;
        width: 20%;
        height: auto;
        background: #630f18;
        padding: 11px;
        margin: 11px 0px;
	}
	
	
	.m-mobile_link{
		display: block;
        border-bottom: 1px solid rgba(255,255,255,.3);
        margin: 0;
        padding: 15px;
        color: #FFF;
        text-decoration: none;
            font-size: 1.3rem;
        font-family: 'gotham medium',sans-serif;
        text-transform: uppercase;
	} 
	
    .m-mobile_link::hover {
		background: #FFF;
        color: #d55401;
	}
	
/*	fim do menu para versão mobile*/
	
	.sec-navigation,
	.potatos,
	.ingredientes,
	.figures,
    .sobremesas-item {
		display: none;
	}
	
	
	

	
/*	Degust com vontade */
	
	.sec-tit{
        font-size: 6.3rem;
        font-family: 'gotham ultra',sans-serif;
        color: #fd560c;
        line-height: 60px;
        text-transform: uppercase;
        margin: 0;
    }
	.sec-tit .red{ font-size: 4.3rem; }
	.txt{ 
        margin: 40px 0;
        font-size: 2.3rem;
        font-family: 'gotham medium',sans-serif;
        color: #630f18;
        line-height: normal;
        text-align: justify;
    }
	.btn {
        background: #fd560c;
        border-radius: 35px;
        color: white;
        font-size: 19px;
        font-family: 'gotham medium',sans-serif;
        width: 285px;
        height: 65px;
        line-height: 65px;
        padding: 0;
        text-transform: uppercase;
        margin: 0 auto;
        display: table;
    }
	
    /*	Inicio da seção Sobreo Degust */
    .txt-sobre{ margin-top: 60px; }
    .sobre-tit{ line-height: normal; margin-bottom: 50px;}
    .sobre-tit .white{
        font-size: 6.3rem;
        font-family: 'king basil',cursive;
        color: white;
    }
    .sobre-tit .red{
        font-size: 6.3rem;
        font-family: 'gotham ultra',sans-serif;
    }
    .sub-tit{
        font: bold 2.4rem 'gotham medium',sans-serif;
        margin-bottom: 40px;
        text-align: justify;
    }
    .txt-sobre .txt{ 
        font: 2rem 'gotham light',sans-serif;
            text-align: justify;
    }
	
    /*	Seção nossas delicias - produtos */

    .prod-tit .white{
        font: 6.3rem 'king basil',cursive;
        color: white;
    }
    .prod-tit .red{
        font: 5.3rem 'gotham ultra',sans-serif;
    }
    .prod-name{
        color: #ffcc00;
        font: 3.5rem 'gotham ultra',sans-serif;
        text-transform: uppercase;
        margin-bottom: 55px;
    }
    .prod-price{
        color: #fff;
        font: 6.5rem 'gotham ultra',sans-serif;
        text-transform: uppercase;
        line-height: normal;
        text-align: center;
    }
    .prod-price .white{
        color: #fff;
        font: 2.6rem 'gotham ultra',sans-serif;
        text-transform: uppercase;
        display: block;
        line-height: 22px;
    }
        .prat-item{ 
        background: url('../img/bg-prod.png') no-repeat center;
        height: 375px;
        width: auto;
        margin: 0 auto;
        padding: 0 5px;
    }
    #prateleira .prod-img{ width: auto; padding-top: 65px; }
    .prod-title{
        color: #4f2222;
        font: 1.7rem 'gotham medium',sans-serif;
        margin: 20px 0;
        text-transform: uppercase;
        text-align: center;
    }
    .prod-smallprice{
        color: #55a24d;
        font:bold 5.3rem 'Amatic SC', cursive;
        text-align: center;
        display: block;
    }
    .prod-smallprice .tipo{
        color: #55a24d;
        font:bold 3.4rem 'Amatic SC', cursive;
    }

    /*	inicio seção adicionais */

    .adicional.hidden-m::before{    
            display: none;
        }
    .adicional-tit .yellow{
        font-size: 5.5rem;
        font-family: 'king basil',cursive;
        color: #f7c320;
    }
    .adicional-tit .red{
        color: #3d0b04;
        font-size: 5rem;
        font-family: 'gotham ultra',sans-serif;
        text-transform: uppercase;
    }
    .ad-list{ margin: 55px 0 250px;}
    .ad-option{ margin-bottom: 5px; position: relative; }
    .ad-option::before{
        position: absolute;
        left: 0;
        top: 50%;
        content: '';
        width: 100%;
        height: 2px;
        border-top: 2px dashed #3d0d05;
    }
    .ad-title{
        color: #3d0d05;
        font: 2rem 'gotham medium',sans-serif;
        text-transform: uppercase;
        background: white;
        position: relative;
        padding: 5px;
    }
    .ad-price{
        position: relative;
        background: #df1527;
        border-radius: 5px;
        color: white;
        font: 2rem 'gotham medium',sans-serif;
        width: 105px;
        height: 35px;
        line-height: 35px;
        text-transform: uppercase;
        text-align: center;
    }
    /*	Lanches em pão integral */

    .lanches-tit .yellow{
        font: 5rem 'gotham medium',sans-serif;
        color: #f7c320;
    }
    .lanches-tit .red{
        color: #3d0b04;
        font: 5rem 'gotham ultra',sans-serif;
        text-transform: uppercase;
    }
    .lanches-list{ margin: 80px 0;}
    .lanches-item{ float: left; margin-bottom: 17px;}
    .lanches-number{
        background: #ff540a;
        border-radius: 7px;
        color: white;
        font: bold 1.6rem 'gotham medium',sans-serif;
        width: 70px;
        height: 30px;
        float: left;
        line-height: 30px;
        text-align: center;
        margin-right: 15px;
    }
    .lanches-name{
        color: #3d0d05;
        font: 1.6rem 'gotham ultra',sans-serif;
        text-transform: uppercase;
        line-height: normal;
    }

    /*	degust petiscos */

        .petiscos-tit{ margin-bottom: 50px;}
    .petiscos-tit .white{
        font: 5rem 'gotham medium',sans-serif;
        color: white;
    }
    .petiscos-tit .yellow{
        color: #f7c320;
        font: 5rem 'gotham ultra',sans-serif;
        text-transform: uppercase;
    }
    .petiscos-list{
        border: 2px solid white;
        padding: 40px 25px;
    }
    .petiscos-item{ margin-top: 10px;}
    .petisco-title{
        color: #f7c320;
        font: bold 2.6rem 'gotham medium',sans-serif;
        float: left;
        margin-bottom: 20px;
    }
    .petisco-tipo{
        color: white;
        font: bold 2.2rem 'gotham medium',sans-serif;
        float: left;
        margin-bottom: 10px;
        width: 100%;
    }
    .petisco-tipo small{ font-size: 1.3rem; float: left; width: 100%}

    /* Nossas bebidas */

    .bebidas-tit{ margin-bottom: 50px;}
    .bebidas-tit .white{
        font: 3.5rem 'gotham medium',sans-serif;
        color: white;
        text-transform: uppercase;
    }
    .bebidas-tit .red{
        color: #3d0b04;
        font: 6.5rem 'gotham ultra',sans-serif;
        text-transform: uppercase;
    }
    .list-title{
        color: #3d0b04;
        font: 3rem 'gotham ultra',sans-serif;
        margin-bottom: 15px;
        display: block;
    }
    .bebidas-list{
        border: 2px solid #3d0b04;
        margin-bottom: 35px;
        padding: 25px 20px;
    }
    .bebidas-item{
        color: white;
        font: bold 2.3rem 'gotham medium',sans-serif;
    }

    /*	Nossas bebidas */

    .sobremesas-tit .white{
        font: 3rem 'gotham medium',sans-serif;
        color: white;
        text-transform: uppercase;
    }
    .sobremesas-tit .yellow{
        color: #f7c320;
        font: 4rem 'gotham ultra',sans-serif;
        text-transform: uppercase;
    }
    .sobremesas .list-title{
        color: #f7c320;
    }
    .sobremesas-list{
        border: 2px solid white;
        margin-bottom: 35px;
        padding: 25px 35px;
    }
    .sobremesas-list{
        border: 2px solid white;
        margin-bottom: 35px;
        padding: 25px 35px;
    } 
    .sobremesas-list.menospadd{ padding: 25px 20px; }
    .sobremesa-item{
        color: white;
        font: bold 1.9rem 'gotham medium',sans-serif;
    }
    .menospadd .sobremesa-item{ font-size: 16px; }
    .sobremesa-tit{ 
        color: #f7c320;
        font: bold 2rem 'gotham medium',sans-serif;
    }
    .sobremesa-tit.mr-top{ margin-top: 30px; }

    /*	onde estamos */

        .footer-tit_text1 {
        margin: 0;
        padding: 0;
        font-family: 'gotham light';
        font-weight: bold;
        font-size: 3.3rem;
        color: #ffffff;
    }

    .footer-tit_text2 {
        margin: 0;
        padding: 0;
        font-family: 'gotham ultra';
        font-size: 3.7rem;
        color: #3d0b04;
    }

    .footer-end {
        display: block;
        margin: 10px 0;
        padding: 10px 0;
    }

    .footer-end_text {
        margin: 0;
        padding: 0;
        font-family: 'gotham medium';
        font-weight: 900;
        font-size: 1.8rem;
    }

    .footer-day {
        display: inline-block;
        background: #3f1a08;
        margin: 10px 0;
        padding: 15px;
    }

    .footer-day_text {
        color: #fac200;
        font-family: 'gotham medium';
        margin: 0;
        padding: 0;
        font-size: 1.4rem;
        font-weight: 900;
    }

    .footer-inf_media {}

    .footer-media_text {
        font-family: 'gotham medium';
        margin: 0;
        padding: 0;
        font-size: 1.3rem;
      font-weight: 900;
    }

}
