/*	Inicio da versão mobile */

@media only screen and (max-width : 768px) {
	
	
	.header{
		display: none;
	}
	
/*	menu-mobile*/
	
	.header-mobile {
		background: #630f18;
		padding: 15px 0;
	}
	
	.menu-anchor{
		margin: 10px 0;
		padding: 0 5px;
		float: left;
		position: absolute;
	}
	
	.menu-anchor_bullet{
		width: 38px;
    height: 4px;
    background: #fff;
    margin: 5px 0 0 5px;
	}
	
	.menu-anchor_bullet .middle {
		    margin: 6px 0 6px 5px;
	}
	
	.navegacao-mobile{
		background: #630f18;
		width: 80%;
		height: 100%;
	}
	
	.bloco-menu_mobile {
		width: 100%;
		height: 100%;
		position: fixed;
		left: 0;
		top: 0;
		background: rgba(0,0,0,0.5);
		z-index: 50;
		-webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    transition: all .25s linear;
	}
	
	.bloco-menu_mobile.menu-active {
		-webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
	}
	
	.bloco-menu_mobile .menu-anchor {
		position: absolute;
    top: -11px;
    right: 0;
    width: 20%;
    height: auto;
    background: #630f18;
    padding: 11px;
    margin: 11px 0px;
	}
	
	.img-logo {
		max-width: 90px;
	}
	
	.m-mobile_link{
		display: block;
    border-bottom: 1px solid rgba(255,255,255,.3);
    margin: 0;
    padding: 15px;
    color: #FFF;
    text-decoration: none;
		font-size: 1.3rem;
    font-family: 'gotham medium',sans-serif;
    text-transform: uppercase;
	} 
	
.m-mobile_link::hover {
		background: #FFF;
    color: #d55401;
	}
	
	

	
/*	Degust com vontade */
	
	.sec-tit{
    font-size: 8.3rem;
    font-family: 'gotham ultra',sans-serif;
    color: #fd560c;
    line-height: 60px;
    text-transform: uppercase;
    margin: 0;
}
	.sec-tit .red{ font-size: 4.3rem; }
	.txt{ 
    margin: 40px 0;
    font-size: 2.3rem;
    font-family: 'gotham medium',sans-serif;
    color: #630f18;
    line-height: normal;
		text-align: justify;
}
	.btn {
    background: #fd560c;
    border-radius: 35px;
    color: white;
    font-size: 19px;
    font-family: 'gotham medium',sans-serif;
    width: 285px;
    height: 65px;
    line-height: 65px;
    padding: 0;
    text-transform: uppercase;
    margin: 0 auto;
    display: table;
}
	
/*	Inicio da seção Sobreo Degust */
.txt-sobre{ margin-top: 60px; }
.sobre-tit{ line-height: normal; margin-bottom: 50px;}
.sobre-tit .white{
    font-size: 7.3rem;
    font-family: 'king basil',cursive;
    color: white;
}
.sobre-tit .red{
    font-size: 7.3rem;
    font-family: 'gotham ultra',sans-serif;
}
.sub-tit{
    font: bold 2.4rem 'gotham medium',sans-serif;
    margin-bottom: 40px;
	text-align: justify;
}
.txt-sobre .txt{ 
    font: 2rem 'gotham light',sans-serif;
		text-align: justify;
}
	
/*	Seção nossas delicias - produtos */

.prod-tit .white{
    font: 7.3rem 'king basil',cursive;
    color: white;
}
.prod-tit .red{
    font: 7.3rem 'gotham ultra',sans-serif;
}
.prod-name{
    color: #ffcc00;
    font: 6rem 'gotham ultra',sans-serif;
    text-transform: uppercase;
    margin-bottom: 55px;
}
.prod-price{
    color: #3d0d05;
    font: 9.5rem 'gotham ultra',sans-serif;
    text-transform: uppercase;
    line-height: normal;
}
.prod-price .white{
    color: white;
    font: 3rem 'gotham ultra',sans-serif;
    text-transform: uppercase;
    display: block;
    line-height: 22px;
}
	.prat-item{ 
    background: url('../img/bg-prod.png') no-repeat center;
    height: 375px;
    width: auto;
    margin: 0 auto;
    padding: 0 5px;
}
#prateleira .prod-img{ width: auto; padding-top: 65px; }
.prod-title{
    color: #4f2222;
    font: 1.6rem 'gotham medium',sans-serif;
    text-transform: uppercase;
    margin: 20px 0;
    text-transform: uppercase;
    text-align: center;
}
.prod-smallprice{
    color: #55a24d;
    font:bold 5.3rem 'Amatic SC', cursive;
    text-align: center;
    display: block;
}
.prod-smallprice .tipo{
    color: #55a24d;
    font:bold 3.4rem 'Amatic SC', cursive;
}
	
/*	inicio seção adicionais */

.adicional.hidden-m::before{    
		display: none;
	}
.adicional-tit .yellow{
    font-size: 5.6rem;
    font-family: 'king basil',cursive;
    color: #f7c320;
}
.adicional-tit .red{
    color: #3d0b04;
    font-size: 6rem;
    font-family: 'gotham ultra',sans-serif;
    text-transform: uppercase;
}
.ad-list{ margin: 55px 0 250px;}
.ad-option{ margin-bottom: 5px; position: relative; }
.ad-option::before{
    position: absolute;
    left: 0;
    top: 50%;
    content: '';
    width: 100%;
    height: 2px;
    border-top: 2px dashed #3d0d05;
}
.ad-title{
    color: #3d0d05;
    font: 2rem 'gotham medium',sans-serif;
    text-transform: uppercase;
    background: white;
    position: relative;
    padding: 5px;
}
.ad-price{
    position: relative;
    background: #df1527;
    border-radius: 5px;
    color: white;
    font: 2rem 'gotham medium',sans-serif;
    width: 105px;
    height: 35px;
    line-height: 35px;
    text-transform: uppercase;
    text-align: center;
}
/*	Lanches em pão integral */
	
.lanches-tit .yellow{
    font: 5.4rem 'gotham medium',sans-serif;
    color: #f7c320;
}
.lanches-tit .red{
    color: #3d0b04;
    font: 6rem 'gotham ultra',sans-serif;
    text-transform: uppercase;
}
.lanches-list{ margin: 80px 0;}
.lanches-item{ float: left; margin-bottom: 17px;}
.lanches-number{
    background: #ff540a;
    border-radius: 7px;
    color: white;
    font: bold 1.6rem 'gotham medium',sans-serif;
    width: 70px;
    height: 30px;
    float: left;
    line-height: 30px;
    text-align: center;
    margin-right: 15px;
}
.lanches-name{
    color: #3d0d05;
    font: 1.6rem 'gotham ultra',sans-serif;
    text-transform: uppercase;
    line-height: normal;
}
	
/*	degust petiscos */
	
	.petiscos-tit{ margin-bottom: 50px;}
.petiscos-tit .white{
    font: 5.5ren 'gotham medium',sans-serif;
    color: white;
}
.petiscos-tit .yellow{
    color: #f7c320;
    font: 6rem 'gotham ultra',sans-serif;
    text-transform: uppercase;
}
.petiscos-list{
    border: 2px solid white;
    padding: 40px 25px;
}
.petiscos-item{ margin-top: 10px;}
.petisco-title{
    color: #f7c320;
    font: bold 2.6rem 'gotham medium',sans-serif;
    float: left;
    margin-bottom: 20px;
}
.petisco-tipo{
    color: white;
    font: bold 2.2rem 'gotham medium',sans-serif;
    float: left;
    margin-bottom: 10px;
    width: 100%;
}
.petisco-tipo small{ font-size: 1.3rem; float: left; width: 100%}

/* Nossas bebidas */
	
.bebidas-tit{ margin-bottom: 50px;}
.bebidas-tit .white{
    font: 3.5rem 'gotham medium',sans-serif;
    color: white;
    text-transform: uppercase;
}
.bebidas-tit .red{
    color: #3d0b04;
    font: 6.5rem 'gotham ultra',sans-serif;
    text-transform: uppercase;
}
.list-title{
    color: #3d0b04;
    font: 3rem 'gotham ultra',sans-serif;
    margin-bottom: 15px;
    display: block;
}
.bebidas-list{
    border: 2px solid #3d0b04;
    margin-bottom: 35px;
    padding: 25px 20px;
}
.bebidas-item{
    color: white;
    font: bold 2.3rem 'gotham medium',sans-serif;
}
	
/*	Nossas bebidas */
	
.sobremesas-tit .white{
    font: 3.2rem 'gotham medium',sans-serif;
    color: white;
    text-transform: uppercase;
}
.sobremesas-tit .yellow{
    color: #f7c320;
    font: 5rem 'gotham ultra',sans-serif;
    text-transform: uppercase;
}
.sobremesas .list-title{
    color: #f7c320;
}
.sobremesas-list{
    border: 2px solid white;
    margin-bottom: 35px;
    padding: 25px 35px;
}
.sobremesas-list{
    border: 2px solid white;
    margin-bottom: 35px;
    padding: 25px 35px;
} 
.sobremesas-list.menospadd{ padding: 25px 20px; }
.sobremesa-item{
    color: white;
    font: bold 1.9rem 'gotham medium',sans-serif;
}
.menospadd .sobremesa-item{ font-size: 16px; }
.sobremesa-tit{ 
    color: #f7c320;
    font: bold 2rem 'gotham medium',sans-serif;
}
.sobremesa-tit.mr-top{ margin-top: 30px; }
	
/*	onde estamos */
	
	.footer-tit_text1 {
	margin: 0;
	padding: 0;
	font-family: 'gotham light';
	font-weight: bold;
	font-size: 3.3rem;
	color: #ffffff;
}

.footer-tit_text2 {
	margin: 0;
	padding: 0;
	font-family: 'gotham ultra';
	font-size: 3.7rem;
	color: #3d0b04;
}

.footer-end {
	display: block;
	margin: 10px 0;
	padding: 10px 0;
}

.footer-end_text {
	margin: 0;
	padding: 0;
	font-family: 'gotham medium';
	font-weight: 900;
	font-size: 1.8rem;
}

.footer-day {
	display: inline-block;
	background: #3f1a08;
	margin: 10px 0;
	padding: 15px;
}

.footer-day_text {
	color: #fac200;
	font-family: 'gotham medium';
	margin: 0;
	padding: 0;
	font-size: 1.4rem;
	font-weight: 900;
}

.footer-inf_media {}

.footer-media_item {
	margin: 10px 0;
  padding: 5px 0;
}

.footer-media_text {
	font-family: 'gotham medium';
	margin: 0;
	padding: 0;
	font-size: 1.3rem;
  font-weight: 900;
}

}
